<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsPoppin'</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .post-container {
            position: relative;
            margin-bottom: 3%;
            height: 660px; 
            overflow: hidden;

        }
        .post-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
        .username-overlay {
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 5px;
            border-radius: 5px;
        }
        .upload-button {
            position: fixed;
            bottom: 5%;
            right: 3%;
            background-color: transparent;
            border: none;
            scale: 2;
            cursor: pointer;
        }
        
        
    </style>
</head>
<body>
    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid align-items-center" style="grid-template-columns: 1fr 2fr;padding-left: 40%;">
            <div class="search-container d-flex justify-content-center" style="color: white;">
                <form class="w-100 me-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
            </div>
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{user_info.user_img}}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" style="margin-right: auto;">
                    <li class="dropdown-header">Logged in as:</li>
                    <li class="dropdown-header" style="line-height: 0.85">{{user_info.username}}</li>
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#uploadModal"> <i class="bi bi-plus-square"></i> &#160Add Post</a></li>

                    <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Settings</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-person-check"></i> Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/login" style="color: red; background-color: white !important;"><i class="bi bi-arrow-left-square" style="padding-top: 3px;"></i> &#160Sign out</a></li>
                </ul>
              </div>
              </div>
        </div>
    </header>
    <div class="container-fluid pb-3">
        <div class="d-grid gap-4" style="grid-template-columns: 0.25fr 1fr;padding-right: 10%;">
            <div class="border rounded-2" style="color: #59646E;position: relative;text-align: left;padding: 5%;margin-bottom: 10%;border-radius: 0%;">
                Trending Twitter HashTags :<br><br>
                {% for hashtag in hashtags %}
                    {{ hashtag }}<br>
                {% endfor %}
            </div>
            <div>
                {% for post in posts %}
                <div class="post-container border rounded-2">
                    <div class="username-overlay">{{ post.username }}</div>
                    <img class="post-image" src="{{ post.image_url }}" alt="User">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/upload" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="username" value="{{user_info.username}}">
                        <div class="mb-3">
                            <label for="image_url" class="form-label">Image URL:</label>
                            <input type="text" autocomplete="off" class="form-control" id="image_url" name="image_url" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Back to Top</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2024 Ojaswa Sharma</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
